<h1>
  <div> {{obj.name}},{{obj.id}}</div>
</h1><br>
<ul>
  <li *ngFor= "let i of arr">{{i}}</li>
</ul>
<p *ngIf= "isTrue">hi durga</p>
<p *ngIf= "myname=='durga'">true</p>
<p *ngIf= "myname!='dur'">true</p>

