
  <form (ngSubmit)="submit()">
    <input name="label" [(ngModel)]="label">
    <button type="submit">Add todo</button>
    <div *ngIf="isEdit">
      <input name="label" #title="ngModel" [ngModel]="todo.label">
      <button type="submit" (click)="update(title.value, todo.id)">update</button>
    </div>
   </form>
